.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--background-light);
  min-height: 100vh;
}

.game {
  text-align: center;
  width: 70vw;
  margin: auto;
  padding: 1rem;
  max-height: 100vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
}

.game__name {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 400;
  letter-spacing: -0.0083333333em;
  text-decoration: inherit;
  text-transform: inherit;
  margin-bottom: 1rem;
}

.game__result {
  font-size: 1.5rem;
  line-height: 1.5rem;
  height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.0073529412em;
  text-decoration: inherit;
  text-transform: inherit;
  margin-bottom: 1rem;
}

.board {
  width: 30vw;
  height: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 1rem auto;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.board__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 33%;
}

.board__box {
  cursor: pointer;
  width: 33%;
  border-radius: 4px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  margin: 0.4rem;
  font-size: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.board__box:hover {
  -webkit-transform: scale(0.98);
  -ms-transform: scale(0.98);
  transform: scale(0.98);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.sidebar {
  background-color: var(--primary-color);
  color: rgba(249, 170, 51, 0.87);
  width: 30vw;
  height: 100vh;
  overflow: hidden;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  flex-shrink: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-transform cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform cubic-bezier(0.4, 0, 0.2, 1);
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0;
}

.sidebar__header {
  flex-shrink: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 64px;
  padding: 0 16px 4px;
}

.sidebar__title {
  font-size: 1.25rem;
  line-height: normal;
  font-weight: 500;
  letter-spacing: .0125em;
  text-decoration: inherit;
  text-transform: inherit;
  display: block;
  margin-top: 0;
  margin-bottom: -20px;
}

.sidebar__title::before {
  display: inline-block;
  width: 0;
  height: 36px;
  content: "";
  vertical-align: 0;
}

.sidebar__title::after {
  display: inline-block;
  width: 0;
  height: 20px;
  content: "";
  vertical-align: -20px;
}

.sidebar__content {
  overflow-y: auto;
  height: 100%;
}

.sidebar-list {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.00937em;
  text-transform: inherit;
  line-height: 1.5rem;
  list-style-type: none;
  margin: 0;
  padding: 8px 0;
}

.sidebar-list-item {
  font-size: 0.875rem;
  line-height: 1.375rem;
  letter-spacing: 0.00714em;
  margin: 8px;
  padding: 0 8px;
  border-radius: 4px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-decoration: inherit;
  text-transform: inherit;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  overflow: hidden;
  cursor: pointer;
}

.sidebar-list-item:hover::before {
  opacity: .04;
}

.sidebar-list-item::before,
.sidebar-list-item::after {
  background-color: var(--white-color);
}

.sidebar-list-item::before,
.sidebar-list-item::after {
  top: calc(50% - 100%);
  left: calc(50% - 100%);
  width: 200%;
  height: 200%;
}

.sidebar-list-item::before,
.sidebar-list-item::after {
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  content: "";
}

.sidebar-list-item:nth-child(1) {
  margin-top: 2px;
}

.sidebar-list-item:nth-last-child(1) {
  margin-bottom: 0;
}

.sidebar-list-item__text {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 992px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .game-container {
    height: 80vh;
    width: 100vw;
  }

  .sidebar {
    width: calc(100vw - 2rem);
    height: 300px;
    border: 0;
    margin: 1rem;
  }

  .game__name {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .game__result {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }

  .game {
    width: 100%;
    max-height: 100%;
    overflow: hidden;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .board {
    height: 50vw;
    width: 50vw;
  }
}

@media screen and (max-width: 576px) {
  .board {
    height: 285px;
    width: 285px;
  }
}
