:root {
  --primary-color: #344955;
  --primary-color-dark: #232F34;
  --secondary-color: #F9AA33;
  --error-color: #A7447A;
  --white-color: #fff;
  --black-color: #000;
  --background-light: #eeeeee;
}
